<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.abc.platform.entityconfig.mapper.EntityModelMapper">

    <!--创建表-->
    <update id="createTable"  statementType="STATEMENT">
        -- TODO 测试方便，每次生成前都删除库表，正式启用后去除删除，避免数据丢失
        DROP TABLE IF EXISTS `${tableName}`;
        CREATE TABLE `${tableName}`
        (
        <foreach collection="tableFieldInfoList" separator="," item="item" >
            `${item.code}`          ${item.dataType}  ${item.nullFlag}  ${item.defaultValue} COMMENT '${item.name}'
        </foreach>
        ,PRIMARY KEY (`id`)
        )
        ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin COMMENT = '${tableComment}';
    </update>

</mapper>
