<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.abc.platform.workflow.mapper.ProcessInstanceMapper">

    <!-- 公用查询-->
    <sql id="query">  select * from (
        select t1.PROC_INST_ID_ AS id, #流程实例标识
        t1.BUSINESS_KEY_ as business_no, #单号
        t1.PROC_DEF_ID_ as process_definition_id, #流程定义标识
        t1.PROC_DEF_KEY_ as process_definition_key, #流程编码
        t2.NAME_ as process_definition_name, #流程名称
        t1.START_TIME_ as start_time, #启动时间
        t1.END_TIME_ as end_time, #结束时间
        t1.STATE_ as state, #状态
        t1.START_USER_ID_ as process_apply_id, #申请人id
        t4.NAME as process_apply_name, #申请人姓名
        t3.NAME_ as node_name, #环节名称
        t3.ASSIGNEE_ as node_assignee,  #环节处理人
        t5.NAME as node_assignee_name #环节处理人姓名
        from act_hi_procinst t1
        LEFT JOIN act_re_procdef t2
        on t1.PROC_DEF_ID_=t2.id_
        LEFT JOIN act_ru_task t3
        on t1.PROC_INST_ID_=t3.PROC_INST_ID_
        LEFT JOIN sys_user t4
        on t1.START_USER_ID_=t4.id
        LEFT JOIN sys_user t5
        on t3.ASSIGNEE_=t5.id
        ) t
        ${ew.customSqlSegment}</sql>


    <!-- 流程实例 结果映射 -->
    <resultMap id="resultMap" type="tech.abc.platform.workflow.entity.ProcessInstance">
        <id property="id" column="id"/>
        <result property="businessNo" column="business_no"/>
        <result property="processDefinitionId" column="process_definition_id"/>
        <result property="processDefinitionKey" column="process_definition_key"/>
        <result property="processDefinitionName" column="process_definition_name"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="state" column="state"/>
        <result property="processApplyId" column="process_apply_id"/>
        <result property="processApplyName" column="process_apply_name"/>
        <result property="nodeName" column="node_name"/>
        <result property="nodeAssignee" column="node_assignee"/>
        <result property="nodeAssigneeName" column="node_assignee_name"/>


    </resultMap>

    <!-- 分页查询 -->
    <select id="customPage"  resultMap="resultMap">
        <include refid="query"></include>
    </select>

    <!-- 单条查询 -->
    <select id="get"  resultMap="resultMap">
        <include refid="query"></include>
    </select>

</mapper>
